@model codeBlox.Models.Descontrolada

@{
    ViewBag.Title = "Informações do produto";
}

<h2>Informações do produto</h2>

<div>
    <h4>Descontrolada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoProduto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
